<table class="table table-advance table-hover table-striped table-checkable order-column" id="">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("salesperson") %>
                <th>
                    <%= t('.salesperson') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("period") %>
                <th>
                    <%= t('.period') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("amount") %>
                <th class="text-right sortable" sort-by='erp_targets_targets.amount'>
                    <%= t('.amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th class="text-center">
                    <%= t('.status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th class="text-center">
                    <%= t('.creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_targets_targets.created_at'>
                    <%= t('.created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('.actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @targets.each do |target| %>
            <tr class="<%= 'blurred' if target.is_deleted? %>">
                <td>
                    <%= erp_datalist_check_row(id: target.id) %>
                </td>
                <% if get_columns(params).include?("salesperson") %>
                <td>
                    <i class="fa fa-plus expand tr-expand-button"></i>
                    <strong><%= target.salesperson_name %></strong>
                </td>
                <% end %>
                <% if get_columns(params).include?("period") %>
                <td><%= target.period_name %></td>
                <% end %>
                <% if get_columns(params).include?("amount") %>
                <td class="text-right"><%= format_price(target.amount) %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td class="text-center">
                    <%= status_label(target.status) %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                <td>
                    <%= erp_component('avatar', {
                        user: target.creator
                    }) %>
                </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                <td><%= format_date(target.created_at) %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('.edit'),
                                url: erp_targets.edit_backend_target_path(target),
                                hide: target.is_deleted?
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_targets.set_deleted_backend_targets_path(id: target.id),
                                data_method: 'PUT',
                                data_confirm: t('delete_confirm'),
                                class: 'ajax-link',
                                hide: target.is_deleted?
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @targets.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>
    
<%= erp_datalist_pagination(@targets) %>